@keyframes loading {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.card {
    background-color: #f4f7fa;
    color: #2d3748;
    font-weight: bold;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 20px;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
    margin: 24px;
}

h6 {
    color: #a0aec0;
    margin: 0;
}

p {
    margin: 0;
}

.skeleton {
    background-color: #ddd;
    border-radius: 15px;
    padding: 20px;
    animation: loading 1s linear infinite alternate;
    > div:nth-child(1) {
        width: 30%;
        height: 20px;
        background-color: #aaa;
        margin-bottom: 0.2rem;
    }
    > div:nth-child(2) {
        width: 60%;
        height: 20px;
        background-color: #aaa;
    }
}

@media (max-width: 769px) {
    .chart {
        display: none;
    }
}
