.card {
    background-color: #f4f7fa;
    color: #2d3748;
    font-weight: bold;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 380px;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 24px;
}

h6 {
    color: #a0aec0;
    margin: 0;
}

p {
    margin: 0;
}

@keyframes loading {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.skeleton {
    background-color: #ddd;
    padding: 1rem 2rem;
    border-radius: 15px;
    width: 380px;
    padding: 20px;
    animation: loading 1s linear infinite alternate;
    > div:nth-child(1) {
        width: 30%;
        height: 20px;
        background-color: #aaa;
        margin-bottom: 0.2rem;
    }
    > div:nth-child(2) {
        width: 60%;
        height: 20px;
        background-color: #aaa;
    }
}

@media (max-width: 769px) {
    .chart {
        display: none;
    }
}
