:root {
    --bg-color: #fff;
}

body {
    background-color: var(--bg-color);
}

a {
    white-space: nowrap !important;
}

label {
    font-weight: 500;
    font-size: 0.9rem;
}

label > span,
.error {
    color: red;
    font-size: 1rem;
}

i.delete {
    color: rgba(255, 0, 0, 0.5);
    text-align: center;
    font-size: 1.5rem;
    padding: 0 1rem;
    &:hover {
        cursor: pointer;
        color: rgba(255, 0, 0, 1);
    }
}

@media (max-width: 1200px) {
    .form-container {
        width: 90% !important;
    }
}

@media (max-width: 768px) {
    * {
        font-size: 14px !important;
    }
}

@media (max-width: 480px) {
    * {
        font-size: 9px !important;
    }
}

@media (max-width: 360px) {
    * {
        font-size: 7px !important;
    }
}
