h4 {
    color: #2d3748;
    margin-bottom: 1rem;
}

nav {
    padding: 2%;
    height: 100%;
    min-height: 100vh;
    background-color: #f4f7fe;
}
.navicon {
    background-color: #fff;
    color: #4fd1c5;
    border-radius: 12px;
    padding: 5px 10px;
}

.link {
    all: unset;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
    color: #a0aec0;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 15px;
    transition: all 0.1s ease-in-out;
}

.selected,
.link:hover {
    color: #2d3748;
    font-weight: bold;
    background-color: #fff;
    cursor: pointer;
    .navicon {
        background-color: #4fd1c5;
        color: #fff;
    }
}

.backup {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    align-items: center;
    background-color: transparent;
    color: #2d3748;
    padding: 1rem;
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
}

.backup:hover {
    color: #4fd1c5;
    > i {
        color: #fff;
        background-color: #4fd1c5;
    }
}
